<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Profil instruktora</title>
<link rel="stylesheet" type="text/css" media="all"
	href="/css/instruktorProfil.css" th:href="@{/css/instruktorProfil.css}">
		<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
</head>
<body>
	<div class="hold">
		<div class="header">
			<div class="container">
				<div id="logo">
					<img alt="logo" src="/img/avatar.png" height="90px" width="90px"
						style="margin-bottom: 90px;">
					<h3 style="float: right;">Instruktor</h3>
				</div>

				<ul class="nav">
					<li><a th:href="@{/instruktor/}+${id}">Pocetna</a></li>
					<li><a th:href="@{/instruktor/}+${id+'/profil'}">Moj
							profil</a></li>
					<li><a th:href="@{/instruktor/}+${id+'/istorija'}">Istorija
							rezervacija</a></li>

					<li><a th:href="@{/login}">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
			

	<div class="panel important">
	<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
var xValues = [50,60,70,80,90,100,110,120,130,140,150];
var yValues = [7,8,8,9,9,9,10,11,14,14,15];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});
</script>
</div>
</body>
</html>