<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Administrator</title>
</head>
<link rel="stylesheet" th:href="@{/css/adminProfile.css}"
	href="/css/adminProfile.css">
<body>
	<header role="banner">
		<h1>Profil administratora</h1>
		<ul class="utilities">
			<li class="user"><a th:href="@{/admin/my-profile}">Moji
					podaci</a></li>
			<li class="logout warn"><a th:href="@{/login}">Log out</a></li>
		</ul>
	</header>

	<nav role="navigation">
		<ul class="main">
			<li class="preview"><a th:href="@{/admin/view-all}">Prikaz svih entiteta</a></li>
			<li class="euro"><a th:href="@{/admin/revenue}">Evidencija
					prihoda</a></li>
			<li class="reports"><a th:href="@{/admin/reports}">Prikaz
					izvestaja</a></li>
			<li class="admin"><a th:href="@{/admin/add-admin}">Dodaj
					administratora</a></li>
			<li class="home"><a th:href="@{/admin}">Nazad na profil</a></li>
		</ul>
	</nav>

	<main role="main">

		<section class="panel important">
			<table class="twothirds">
				<tr>
					<td>Ime</td>
					<td th:text = "${admin.ime}">Ime</td>
				</tr>
				<tr>
					<td>Prezime</td>
					<td th:text = "${admin.prezime}">Prezime</td>
				</tr>
				<tr>
					<td>Korisnicko ime</td>
					<td th:text = "${admin.korisnickoIme}">Korisnicko ime</td>
				</tr>
				<tr>
					<td>Email</td>
					<td th:text = "${admin.email}">Email</td>
				</tr>
				<tr>
					<td>Lozinka</td>
					<td th:text = "${admin.lozinka}">Lozinka</td>
				</tr>
				<tr>
					<td>Broj telefona</td>
					<td th:text = "${admin.brojTel}">Broj telefona</td>
				</tr>
				<tr>
					<td>Adresa</td>
					<td th:text = "${admin.adresa}">Adresa</td>
				</tr>
				<tr>
					<td>Grad</td>
					<td th:text = "${admin.grad}">Grad</td>
				</tr>
				<tr>
					<td>Drzava</td>
					<td th:text = "${admin.drzava}">Drzava</td>
				</tr>
			</table>
		</section>

	</main>
</body>
</html>