<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Administrator</title>
</head>
<link rel="stylesheet" th:href="@{/css/adminProfile.css}"
	href="/css/adminProfile.css">
<body>
	<header role="banner">
		<h1>Profil administratora</h1>
		<ul class="utilities">
			<li class="user"><a th:href="@{/admin/my-profile}">Moji
					podaci</a></li>
			<li class="logout warn"><a th:href="@{/}">Log out</a></li>
		</ul>
	</header>

	<nav role="navigation">
		<ul class="main">
			<li class="preview"><a th:href="@{/admin/view-all}">Pregled
					stanja sistema</a></li>
			<li class="euro"><a th:href="@{/admin/revenue}">Evidencija
					prihoda</a></li>
			<li class="reports"><a th:href="@{/admin/reports}">Prikaz
					izvestaja</a></li>
			<li class="admin"><a th:href="@{/admin/add-admin}">Dodaj
					administratora</a></li>
			<li class="home"><a th:href="@{/admin}">Nazad na profil</a></li>
		</ul>
	</nav>

	<main role="main">
		<section class="panel important ">
			<h2>Table</h2>
			<table>
				<tr>
					<th>Rezervacija ID</th>
					<th>Vrednost prihoda</th>
					<th>Datum prihoda</th>
				</tr>
				<tr>
					<td>17569</td>
					<td>€150</td>
					<td>Oct 10, 2015</td>

				</tr>
				<tr>
					<td>17757</td>
					<td>€210</td>
					<td>Oct 7, 2015</td>
				</tr>
			</table>
		</section>
		<section class="panel">
			<h2>Procenat prihoda od rezervacija</h2>
			<form action="@{/admin/change-revenue-percent}">
				<div class="twothirds">
					<label for="procenat">Promenite procenat prihoda:</label> <input
						type="text" name="procenat" id="procenat"
						placeholder="Novi procenat" /> <input type="submit"
						value="Submit" />
				</div>
				<div class = "onethird">
					<table>
						<tr>
							<th>Trenutna vrednost</th>
						</tr>
						<tr>
							<td>0.2</td>
						</tr>
						<tr>
							<td>20%</td>
						</tr>
					</table>
				</div>
			</form>
		</section>
	</main>
</body>
</html>