<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Administrator</title>
</head>
<link rel="stylesheet" th:href="@{/css/adminProfile.css}"
	href="/css/adminProfile.css">
<body>
	<header role="banner">
		<h1>Profil administratora</h1>
		<ul class="utilities">
			<li class="user"><a th:href="@{/admin/my-profile}">Moji
					podaci</a></li>
			<li class="logout warn"><a th:href="@{/login}">Log out</a></li>
		</ul>
	</header>

	<nav role="navigation">
		<ul class="main">
			<li class="preview"><a th:href="@{/admin/view-all}">Prikaz svih entiteta</a></li>
			<li class="euro"><a th:href="@{/admin/revenue}">Evidencija
					prihoda</a></li>
			<li class="reports"><a th:href="@{/admin/reports}">Prikaz
					izvestaja</a></li>
			<li class="home"><a th:href="@{/admin}">Nazad na profil</a></li>
		</ul>
	</nav>

	<main role="main">
		<section class="panel important">
			<form th:action="@{/admin/reports/print}">
				<div class="onethird">
					<label for="name">Pocetni datum:</label> <input type="text"
						name="pocDatum" id="pocDatum" placeholder="dd/MM/yyyy" />
				</div>

				<div class="onethird">
					<label for="name">Krajnji datum:</label> <input type="text"
						name="krajDatum" id="krajDatum" placeholder="dd/MM/yyyy" />
				</div>

				<div class="onethird">
					<input type="submit" value="Submit" />
				</div>
			</form>
		</section>
	</main>
</body>
</html>