<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Administrator</title>
</head>
<link rel="stylesheet" th:href="@{/css/adminProfile.css}"
	href="/css/adminProfile.css">
<body>
	<header role="banner">
		<h1>Profil administratora</h1>
		<ul class="utilities">
			<li class="user"><a th:href="@{/admin/my-profile}">Moji
					podaci</a></li>
			<li class="logout warn"><a th:href="@{/}">Log out</a></li>
		</ul>
	</header>

	<nav role="navigation">
		<ul class="main">
			<li class="preview"><a th:href="@{/admin/view-all}">Pregled
					stanja sistema</a></li>
			<li class="euro"><a th:href="@{/admin/revenue}">Evidencija
					prihoda</a></li>
			<li class="reports"><a th:href="@{/admin/reports}">Prikaz
					izvestaja</a></li>
			<li class="admin"><a th:href="@{/admin/add-admin}">Dodaj
					administratora</a></li>
			<li class="home"><a th:href="@{/admin}">Nazad na profil</a></li>
		</ul>
	</nav>

	<main role="main">

		<section class="panel important">

			<h2>Svi entiteti</h2>
			<form action="#">
				<div class="onethird">
					<label for="select-choice">Izaberi :</label> <select
						name="select-choice" id="select-choice">
						<option value="Klijenti">Klijenti</option>
						<option value="Vlasnici vikendica">Vlasnici vikendica</option>
						<option value="Vikendice">Vikendice</option>
						<option value="Vlasnici brodova">Vlasnici brodova</option>
						<option value="Brodovi">Brodovi</option>
						<option value="Instruktori pecanja">Instruktori pecanja</option>
					</select> <input type="submit" value="Submit" />
				</div>
			</form>
			<table>
				
			</table>
		</section>

	</main>
</body>
</html>