<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Profil instruktora</title>
<link rel="stylesheet" type="text/css" media="all"
	href="/css/instruktorProfil.css" th:href="@{/css/instruktorProfil.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
	<div class="hold">
		<div class="header">
			<div class="container">
				<div id="logo">
					<img alt="logo" src="/img/avatar.png" height="90px" width="90px"
						style="margin-bottom: 90px;">
					<h3 style="float: right;">Instruktor</h3>
				</div>

				<ul class="nav">
					<li><a th:href="@{/instruktor/}+${id}">Pocetna</a></li>
					<li><a th:href="@{/instruktor/}+${id+'/istorija'}">Istorija rezervacija</a></li>
					<li><a th:href="@{/instruktor/}+${id+'/izvestaji'}">Izvestaji</a></li>
					<li><a th:href="@{/login}">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel important">
		<table class="twothirds">
				<tr>
					<td>Naziv</td>
					<td><input th:placeholder = "Naziv"/></td>
				</tr>
				<tr>
					<td>Naziv</td>
					<td><input th:placeholder = "Naziv"/></td>
				</tr>
				<tr>
					<td>Naziv</td>
					<td><input th:placeholder = "Naziv"/></td>
				</tr>
				<tr>
					<td>Naziv</td>
					<td><input th:placeholder = "Naziv"/></td>
				</tr>
				<tr>
					<td>Naziv</td>
					<td><input th:placeholder = "Naziv"/></td>
				</tr>
				<tr>
					<td>Naziv</td>
					<td><input th:placeholder = "Naziv"/></td>
				</tr>
				<tr>
					<td>Naziv</td>
					<td><input th:placeholder = "Naziv"/></td>
				</tr>
				<tr>
					<td>Naziv</td>
					<td><input th:placeholder = "Naziv"/></td>
				</tr>
				<tr>
					<td>Slika</td>
					<td><input type=file/></td>
				</tr>
			</table>
	</div>
	
</body>
</html>