<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Profil instruktora</title>
<link rel="stylesheet" type="text/css" media="all"
	href="/css/instruktorProfil.css" th:href="@{/css/instruktorProfil.css}">
</head>
<body>
	<div class="hold">
		<div class="header">
			<div class="container">
				<div id="logo">
					<img alt="logo" src="/img/avatar.png" height="90px" width="90px"
						style="margin-bottom: 90px;">
					<h3 style="float: right;">Instruktor</h3>
				</div>

				<ul class="nav">
					<li><a href="#">Moj profil</a></li>
					<li><a href="#">Istorija rezervacija</a></li>
					<li><a href="#">Izvestaji</a></li>
					<li><a th:href="@{/login}">Log out</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div>
	<div class="panel">
		<h2>Moje usluge</h2>
		<ul th:each="usluga : ${usluge}">
			<li>
				<img th:src="${usluga.linkSlike}" class="slika">
				<div class="txt">
					<h2 th:text="${usluga.naziv}">Naslov</h2>
					<p th:text="${usluga.opis}">Opis usluge</p>
					<p th:text="${usluga.adresa}">Adresa</p>
				</div>
				<a href="#"><img src="/img/pencil.png" alt="promeni" class="edit"></a>
			</li>
		</ul>
	</div>
	<div class="panel">
		<h2>Trenutne rezervacije</h2>
		<ul>
			<li>
				<img src="" alt="slika" class="slika">
				<div class="txt">
					<h2>Naslov</h2>
					<p>Klijent</p>
					<p>Pocetni datum</p><p>Krajnji datum</p>
				</div>
				<a href="#"><img src="/img/pencil.png" alt="promeni" class="edit"></a>
			</li>
			<li>
				<img src="" alt="slika" class="slika">
				<div class="txt">
					<h2>Naslov</h2>
					<p>Klijent</p>
					<p>Pocetni datum</p><p>Krajnji datum</p>
				</div>
				<a href="#"><img src="/img/pencil.png" alt="promeni" class="edit"></a>
			</li>
		</ul>
	</div>
	</div>
	<div class="panel important"></div>
</body>
</html>